@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@400;600;700&display=swap');

/* Custom comments */
/* These are flexible and allow you to reuse code in different segments or modify overall easily */
:root{
    --leading: 2em;
}

body{
    font-family: 'Nunito', sans-serif;
/* font-family: 'Poppins', sans-serif; */
    margin: 10px;
}

.background {
    background-color: #307d99;
    background: url('../images/bg.png');
    background-position: 69% 25%;
    color: white; 
    text-align: center; 
    padding-bottom: 4rem;
}

.h1 {
    background-color: aliceblue;
    color: steelblue;
}

header{
    padding: 1em 5em 3em 10em;
}

.background a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar a{
    display: inline-block;
    color: white;
}
.navbar a:hover{
    color: aqua;
    text-decoration: underline;
}

section {
    margin: 0 1em;
}

h1{
    font-size: 2.5rem;
    margin: 2em 0 1.2em ;
}
h1 span{
    text-transform: uppercase;
    display: block;
    position: relative;
    font-size: 4.5rem; 
    z-index: 1;
}

h1 span::before{
    content: '';
    position: absolute;
    width: 3em;
    background-color: #00bfff;
    height: .4rem;
    bottom: 0;
    z-index: -1;
    /* margin-left: -.5em; */
    margin-bottom: .2em ;
}

.para1 {
    /* color: black; */
    font-weight: bold;
    margin: 0 1em 3em;
}

.form-container {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}

.label {
    color: #2d7d98;
    font-weight: bold; 
    display: block;
    margin: 1em;
    font-size: 1.2em;
}

input[type=text] {
    margin-bottom: .5em;
    width: 30%;
    border: 1px solid grey;
    padding: .5em;
    box-sizing: border-box;
    border-radius: 3em;
    margin-top: .7em;
}

.button {
    background-color: #e3890a;
    border: none;
    border-radius: 2em;
    border-top: .2em;
    width: 10%;
    color: black;
    font-weight: bold;
    padding: .2em 0;
    font-size: 1em;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(216,126,1);
    font-weight: normal;
}

.practise {
    margin: 0;

}

.right-column {
    text-align: center;
    margin: 3em 1em;
}

.h2{
    text-transform: lowercase;
    position: relative;
}
.prac {
    text-transform: uppercase;
    color: red;
}

.grind {
    text-transform: uppercase;
    color: blue;
}

img {
    width: 100%;
}

.right-column p {
    line-height: var(--leading);   
}